### Django vFour ###
vFour/*.log
vFour/*.pot
vFour/*.pyc
vFour/__pycache__/
vFour/local_settings.py
vFour/db.sqlite3
vFour/db.sqlite3-journal
vFour/media

vFour/vFour/*.log
vFour/vFour/*.pot
vFour/vFour/*.pyc
vFour/vFour/__pycache__/
vFour/vFour/local_settings.py
vFour/vFour/db.sqlite3
vFour/vFour/db.sqlite3-journal
vFour/vFour/media

vFour/jobs/*.log
vFour/jobs/*.pot
vFour/jobs/*.pyc
vFour/jobs/__pycache__/
vFour/jobs/local_settings.py
vFour/jobs/db.sqlite3
vFour/jobs/db.sqlite3-journal
vFour/jobs/media

vFour/accounts/*.log
vFour/accounts/*.pot
vFour/accounts/*.pyc
vFour/accounts/__pycache__/
vFour/accounts/__pycache__/*.*.pyc
vFour/accounts/local_settings.py
vFour/accounts/db.sqlite3
vFour/accounts/db.sqlite3-journal
vFour/accounts/media
















# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Exclude collected Django static files
static_collected

# Exclude machine-specific vs code settings
.vscode/settings.json
vFour/db.sqlite3
vFour/accounts/__pycache__/urls.cpython-37.pyc
